* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #ffffff;
  height: 100%;
}

.page-container {
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px;
}

.cards-wrapper {
  display: flex;
  height: 100%;
  gap: 112px;
}

/* LEFT CARD */
.left-card {
  width: 676px;
  height: 100%;
  top: 32px;
  left: 32px;
  padding: 48px;
  border-radius: 20px;
  border-radius: 24px;
  color: #fff;
  background: url("../assets/background.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-center {
  text-align: center;
  margin-top: 24px;
}

.left-bottom {
  text-align: center;
}

/* RIGHT CARD */
.right-card {
  width: 472px;
  height: 100%;
  top: 166.5px;
  left: 900px;
  padding: 48px;
  background: #ffffff;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* BRAND */
.brand {
  font-size: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 99px;
  padding: 1px;
  margin: 1px;
}

/* مربع اصلی */
.logo-shape {
  width: 24px;
  height: 24px;
  background: #ECF0FF;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

/* نیم‌دایره سمت چپ */
.logo-shape::before {
  content: "";
  position: absolute;
  left: -7px;
  top: 0;
  width: 21px;
  height: 24px;
  background: #465FF180;
  border-radius: 50%;
}
/*نیم‌دایره داخلی (سفید) */
.logo-shape::after {
  content: "";
  position: absolute;
  left: -5px;       /* عقب/جلو */
  top: 10px;
  width: 9px;
  height: 6px;
  background: #ECF0FF;
  border-radius: 50%;
}


/* TABS */
.tabs {
  display: flex;
  background: #ECF0FF;
  border-radius: 10px;
  margin-bottom: 32px;
}

.tab {
  flex: 1;
  padding: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.tab.active {
  background: #465FF1;
  color: #ffffff;
  border-radius: 10px;
}

/* FORM */
.field {
  margin-bottom: 16px;
}

label {
  font-size: 16px;
  font-weight: 500;
}

input {
  width: 100%;
  height: 44px;
  margin-top: 6px;
  padding: 0 12px;
  border-radius: 8px;
  border: 1.5px solid #dcdcdc;
}
/* حالت عادی */
input {
  border: 1.5px solid #465FF166;
  outline: none;
}

/* وقتی فوکوسه */
input:focus {
  border-color: #465FF1;
}

/* وقتی خطا داریم */
input.error {
  border-color: #ef4444;
}

/* وقتی ولیدیشن پاس شده */
input.success {
  border-color: #22c55e;
}
input {
  border: 1.5px solid #465FF1;
  box-shadow: 0 3px 3px rgba(87, 81, 203, 0.06);
}

input:focus {
  box-shadow: 0 0 0 3px rgba(43, 68, 208, 0.15);
}

input.error {
  border-color: #ef4444;
  box-shadow: 0 0 0 3px rgba(239,68,68,0.15);
}

.password-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgot {
  font-size: 12px;
  color: #6b7280;
  text-decoration: none;
}

.error {
  font-size: 11px;
  color: #ef4444;
  min-height: 12px;
}

/* PASSWORD RULES */
.password-rules {
  list-style: none;
  margin-top: 12px;
}

.password-rules li {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  color: #494949;
  margin-bottom: 10px;
}

.password-rules .check {
  font-size: 12px;
  color: #ECF0FF;
}

.password-rules li.valid {
  color: #22c55e;
}

.password-rules li.valid .check {
  color: #22c55e;
}


/* BUTTON */
button {
  width: 100%;
  height: 48px;
  padding: 1px;
  border-radius: 11px;
  border: none;
  background: #465FF1B2;
  color: #fff;
}

button.enabled {
  background: #465FF1;
  cursor: pointer;
}
#successMessage {
  margin-top: 16px;
  font-size: 18px;
  color: #22c55e;
  text-align: center;
  display: none;
}

/* TERMS */
.terms {
  font-size: 13px;
  color: #6b7280;
  text-align: center;
  margin-top: 24px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .cards-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
